################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/QuoteManagement.Api/.sonarqube
/QuoteManagement.Api/.vs
/QuoteManagement.Api/QuoteManagement.Api/bin/Debug/netcoreapp3.1
/QuoteManagement.Api/QuoteManagement.Api/obj/Debug/netcoreapp3.1
/QuoteManagement.Api/QuoteManagement.Api/obj/Release/netcoreapp3.1
/QuoteManagement.Api/QuoteManagement.Api/obj
/QuoteManagement.Api/QuoteManagement.Api.Test/bin/Debug/netcoreapp3.1
/QuoteManagement.Api/QuoteManagement.Api.Test/obj
/QuoteManagement.Api/QuoteManagement.Api.Test/coverage.opencover.xml
/ModernQuote.Api/.vs/ModernQuote.Api/v17
/QuoteManagement.Api/QuoteManagement.Api/Migrations/Database
/ModernQuote.Api/ModernQuote.Api/bin/Debug/net6.0
/ModernQuote.Api/ModernQuote.Api/obj
/ModernQuote.Api/ModernQuote.Api.Test/bin/Debug/net6.0
/ModernQuote.Api/ModernQuote.Api.Test/obj
